
.body{
    font-family: Arial, sans-serif;
    position: relative;
}

/* Header */
.header-login {
    background-color: #413620;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 20%;

}


.titulo-login-password {
    font-size: 40px;
    font-family: Cinzel;
    color: #c2c2c2;
}

/* Logo */
.logo-container-password {
    position: absolute;
    left: 0px;
}

.logo-mercalista-password {
    width: 60px;
    height: 60px;
    max-width: 300px;
    margin: 7px;
}

/* Contenedores principales */
.contenedor-derecho-login-password, 
.contenedor-izquierdo {
    position: absolute;
    top: 100px;
}

.contenedor-izquierdo {
    position: absolute;
    top: 150px;
    left: 120px;
}



/* Contenedor de contraseña */
.password-container {
  position: relative;
}

.toggle-password { 
    position: absolute; 
    top: 50%; 
    right: 0.5px; 
    width: 45px;
    height: 45px; 
    transform: translateY(-50%); 
    background: none; 
    border: none !important; 
    border-radius: 0px 5px 5px 0px !important; /* Definiendo los bordes correctamen*/    
    
}


.button-view {
    background-color: #96959373 !important;
}

.contenedor-derecho-login-password {
    width: 400px;
    top: 150px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transform: translateX(790px);
    
}

/* Imagen collage */
.img-collage-password {
    width: 500px;
    height: 325px;
    object-fit: contain;
    border-radius: 10px;
    margin-top: 20px;
    filter: drop-shadow(20px 15px 3px rgba(0, 0, 0, 0.3));
    transform: translateX(-9px);
}

/* Texto del collage */
.text-login-password{
    font-size: 24px;
    margin-bottom: 20px;
      text-align: left;
    transform: translateX(26px) !important;
}

/* Formulario */
.formulario-login-password {
    display: flex;
    flex-direction: column;

}

.email-login {
    width: 100%;
    margin-bottom: 25px;
}

.email-group {
    width: 100%;
    height: auto;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-control-password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none; /* Quita el borde azul por defecto del navegador */
    border-radius: 5px;
}

.form-control-password:focus {
  border: 1.5px solid #8c5b17; /* Cambia este color al que prefieras */
}


/* Botón continuar */
.boton-continuar {
    width: 100%;
    margin-bottom: 5px;

}

.btn-continuar {
    background-color: #8c5b17;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-continuar:hover {
    background-color: #704713;
}


.password-olvido {
   font-size: 14px;
    text-align: right;
    margin-bottom: 2px;
}
.olvido{
 color: red !important;
  text-decoration: none;
}



/* Botón Google */
.boton-google {
    position: relative;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.btn-google {
    background-color: white;
    color: #555;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
}

.google-icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
}

/* Línea media */
.linea-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 7px 0;
    position: relative;
}

.linea-media::before,
.linea-media::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}


@media (max-width: 1920px) and (min-width: 1581px) {

   
    .contenedor-derecho-login-password {
        position: absolute;
        top: 210px;
        right: 120px;
        width: 30% !important;
        transform: translateX(-80px);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .header{
        height: 100px;
    }


    .formulario-login-password {
        display: flex;
        flex-direction: column;
        width: 100%; /* Asegúrate de que el formulario ocupe todo el ancho del contenedor */
    }

    .form-control-password {
        padding: 7px !important;
        margin-bottom: -2px;
    }

    .btn-continuar{
        width: 100%;
        height: 40px;
        padding: 2px;
        margin-bottom: 10px;
    }
    
    .btn-google {
               width: 100% !important;
        height: 40px;
        font-size: 15px !important;
        padding: 5px !important;
        margin-bottom: 10px;
    }
    
  

    .google-icon{
        width: 20px !important;
        height: 20px;

    }

    .linea-media {
        margin-top: 10px; 
    }
   
    .img-collage-password {
        width: 525px;
        height: 410px;
        object-fit: contain;
        border-radius: 10px;
        margin-top: 45px !important;
        filter: drop-shadow(20px 15px 3px rgba(0, 0, 0, 0.3));
        transform: translateX(100px);
    }

    .text-login-password {
        
        font-size: calc(1.4vw); 
        margin-top: 70px ; 
        transform: translateX(120px) !important; 
    }

    .logo-mercalista-password {
        width: calc(4vw);
        height: calc(4vw);
        margin-left: 15px;
    }
}

@media (max-width: 1580px) and (min-width: 1281px) {
    

    .contenedor-derecho-login-password {
        /* Estilos específicos */
        position: absolute;
        top: 190px;
    }

    

    .formulario-login-password {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Asegúrate de que el formulario ocupe todo el ancho del contenedor */
    }

    .form-control-password {
     
        margin-bottom: -2px;
    }

    .btn-continuar{
        width: 100%; /* Asegúrate de que los botones ocupen todo el ancho */
        height: 45px; /* Aumenta el tamaño del botón */
        margin-bottom: 10px; /* Espaciado entre los botones */
    }
    
    .btn-google {
        width: 100% !important;
        height: 47px;
        padding: 5px !important;
        margin-bottom: 10px;
    }
    
 

    .google-icon{
        width: 24px !important; 
        height: 24px; 

    }

    .linea-media {
        margin-top: 10px; 
    }
    
    .img-collage-password {
        width: 445px;
        height: calc(29vw);
        object-fit: contain;
        border-radius: 10px;
        margin-top: 5px !important;
        filter: drop-shadow(20px 15px 3px rgba(0, 0, 0, 0.3));
        transform: translateX(30px);
    }

    .text-login-password{
        font-size: calc(1.8vw);
        transform: translateX(45px) !important;
        margin-top: 50px;
        
    }

    .logo-mercalista-password {
        width: calc(4vw);
        height: calc(4vw);
        margin: 10px;
    }
}
/* Para pantallas entre 1281px y 967px */
@media (max-width: 1281px) and (min-width: 967px) {
    .contenedor-derecho-login-password {
        
        position: absolute;
        margin-top: 20px;
        right: 20px;
        width: calc(33vw) !important;
        height: auto;
        transform: translateX(-100px);
       
    
    }

  .img-collage-password {
       
        transform: translateX(-35px);
    }

    .text-login-password {
        font-size: calc(2vw);
        margin-bottom: 20px;
        margin-top: 3%;
        transform: translateX(0px);
    }

    

    .logo-mercalista-password {
        width: 60px;
        height: 60px;
        max-width: 300px;
        margin: 7px;
    }

    .formulario-login-password {
        display: flex;
        flex-direction: column;
    }


    
}

/* Para pantallas entre 967px y 834px */
@media (max-width: 967px) and (min-width: 834px) {
    .contenedor-derecho-login-password {
        position: absolute;
        top: 195px;
        right: 50px; /* Mantén el contenedor alineado a la derecha */
        width: calc(40vw) !important; /* Ajusta el ancho dinámicamente */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agrega un sombreado */
        transform: none; /* Elimina el desplazamiento */
    }
    .email,
    .boton-continuar,
    .google-icon {
        margin-bottom: 5px ; /* Espaciado entre los elementos */
    }

    .form-control-password {
        width: 100%; /* Asegúrate de que los inputs ocupen todo el ancho */
        padding: 10px;
        font-size: 14px; /* Ajusta el tamaño del texto */
    }

    .btn-continuar,
    .btn-google {
        width: 100%; /* Asegúrate de que los botones ocupen todo el ancho */
        padding: 10px;
        font-size: 14px; /* Ajusta el tamaño del texto */
    }

    .btn-google{
        margin-top: -15px;
    }

    .linea-media{
        margin-top: -12px;
    }

    .img-collage-password {
        width: calc(35vw); /* Ajusta el tamaño de la imagen dinámicamente */
        height: auto;
        max-width: 350px; /* Tamaño máximo */
        transform: translateX(-25); /* Mantiene la posición */
    } 

    .text-login-password {
        font-size: calc(2.2vw); /* Ajusta el tamaño del texto dinámicamente */
        transform: translateX(-1px) !important;
        margin-top: 50px;
    }

    .logo-mercalista-password {
        width: calc(6vw); /* Ajusta el tamaño del logo dinámicamente */
        height: calc(6vw);
    }
}

/* Para pantallas entre 833px y 500px */
@media (max-width: 833.33px) and (min-width: 500px) {
    
    .img-collage-password{
        display: none; /* Oculta la imagen */
    }

    .logo-mercalista-password {
        margin: 5 auto; /* Centra el logo horizontalmente */
        width: 50px; /* Ajusta el tamaño del logo */
        height: 50px;
    }

    .text-login-password{
       font-size: 20px; /* Ajusta el tamaño del texto */
        text-align: left ; /* Centra el texto */
        margin-bottom: 15px;
        transform: translateX(-60px) !important; /* Mueve un poco hacia la derecha */
    }

    .contenedor-derecho-login-password {
        position: relative;
        width: calc(80vw) !important;
        margin: 5px auto;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateX(5px) !important; /* Usa !important si es necesario */
    }
}

@media(max-width:499px) and (min-width:320px){


    .img-collage-password {
        display: none; /* Oculta la imagen */
    }

    .logo-mercalista-password {
        margin: 5 auto; /* Centra el logo horizontalmente */
    width: calc(13vw); /* Ajusta el tamaño del logo */
    height: calc(13vw);

    }

    .text-login-password{
        font-size: calc(4.2vw); /* Ajusta el tamaño del texto */
        margin: 10px auto;
        transform: translateX(-75px) !important; /* Mueve un poco hacia la derecha */
    }

    .contenedor-derecho-login-password {
        position: relative;
        width: calc(80vw); /* Ajusta el ancho dinámicamente */
        margin: 20px auto; /* Centra el formulario debajo del texto */
        padding: 24px; /* Ajusta el padding */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agrega un sombreado */
        transform: translateX(2px) !important;
    }

}














