.payment-info {
  background: transparent;
  padding: 10px;
  border-radius: 6px;
  color: #444444;
  font-weight: bold;
  position: sticky;
  top: 30px;
  border: 1px solid #777777;
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

.product-details {
  padding: 10px;
}
.imgCarrito{
    width: 90px;
    height: 90px;
    border-radius: var(--bs-border-radius) !important;
    object-fit: cover;
    margin-right: 1rem;
}

.type {
  font-weight: 400;
  font-size: 10px;
}

label.radio {
  cursor: pointer;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b3b3b3b4;
  border-radius: 3px;
}

label.radio span img {
  width: 30px;
  height: auto;
  object-fit: contain;
}

label.radio input:checked + span {
  border-color: #50505080;
  background-color: #50505080;
  color: #fff;
}

.payment-info .radio-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}


.credit-inputs::placeholder {
  color: #fff;
  font-size: 13px;
}

.credit-card-label {
  font-size: 11px;
  font-weight: 300;
  color: #2c2c2c;
}


/* CAMBIAR LE COLOR DEL CLICK */

.form-control.credit-inputs:focus {  
  background: #fff;
  border-color: #FFD791;
  color: #212529;
  box-shadow: 0 0 0 0.2rem rgba(0,68,255,0.10);
}

.line {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.information span {
  font-size: 12px;
  font-weight: 500;
}

.information {
  margin-bottom: 5px;
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
}

.spec {
  font-size: 11px;
}

.MenuCarrito {
    background-color: #ffffff;
    width: calc(100% - 190px);
    height: auto;
    margin-left: 190px !important;
    margin-bottom: 3rem;
}

.ContenedorpCarrito {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 15px;
}

.quantity-controls {
    margin: 0 15px;
}


.quantity-controls span {
    min-width: 30px;
    text-align: center;
}

.btn-link.text-danger {
    padding: 0;
    margin-left: 15px;
}

.text-danger{
    color: #dc3545 !important;
    font-size: 10px;
    font-weight: bold;
    cursor: default;
    user-select: none;
}

.btn-carrito{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
}

.btn-carrito:hover {
    background-color: #e9ecef;
    color: #212529;
}

.btn-carrito.btn-out-of-stock {
    background-color: #ffcccc;
    color: #b30000;
    border-color: #b30000;
    cursor: not-allowed;
    opacity: 0.7;
}

.btn-buy {
  width: 80%;
  height: 2.5rem;
  background-color: #8c5b17;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
  border-radius: 5px;
  gap: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background 0.2s;
}

.btn-buy:hover {
  background-color: #8c5b17af;
}

.fa-trash-o {
    font-size: 1.2em;
}

.ContenedorCarrito {
  margin-top: 2rem;
}

.ordenPCarrito{
  gap: 5px;
}




@media (max-width: 833.33px) and (min-width: 500px) {
    
    .MenuCarrito {
        margin: center !important
}}

@media (max-width: 1350px) {

  .ContenedorCarrito {
    margin-top: 1rem;
  }

  .ColumnaIzCarrito {
    width: 100% !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 767px){
  .ContenedorCarrito {
    margin-top: 1rem;
  }

  .MenuCarrito{
    width: auto;
    margin: 0 auto !important;
  }
}