.main-mercalista-register{
  
    width:auto;
    height: calc(100vh - 66px);
    display:flex;
  }
  
  .section-mercalista-register{
    max-height: calc(100vh - 66px); /* Asegura que ocupa toda la altura de la ventana */
    width: 45%;
  }
  
  .aside-mercalista-register{
    width: 55%; /* Asegúrate de que el ancho esté definido */
    display: flex; /* Habilita flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    max-height: calc(100vh - 66px); /* Asegura que ocupa toda la altura de la ventana */
    margin: 0 auto; /* Centra el contenedor si es necesario */
    
    
  }
  
  .form-register {
    background-color: #e2e2e2;
    padding: 40px; /* Espaciado interno */
    border-radius: 10px ;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    margin: 20px; /* Asegúrate de que no tenga márgenes externos */
    width: 95%; /* Ajusta el ancho relativo al contenedor */
    max-width: 600px; /* Limita el ancho máximo */
    border: 1px solid #000000; /* Borde opcional */

  }

  .form-label-register{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .label-register {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form-input-register[type="text"],
  .form-input-register[type="number"],
  .form-input-register[type="ciudad"],
  .form-input-register[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #996633;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: inset 0 0 1px #fff;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {    
    background-color: #80552a;
  }
  
  .btn-continuar{
    width: 100%;
    padding: 10px;
    background-color: #996633;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: inset 0 0 1px #fff;
    transition: background-color 0.3s;
  }

  .Logo-Mercalista{
    width: 80px;
    height: 80px;
    max-width: 300px; /* Ajusta el tamaño máximo según sea necesario */
    margin: 20px;
  }
  
  .ImgVerduras{
    display: block;
    width: 65%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    filter: drop-shadow(20px 15px 3px rgba(0, 0, 0, 0.3));
  }
  
  .Div-ImgVerduras {
    display: flex; /* Habilita flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: fit-content; /* Ajusta el ancho al contenido */
    max-width: 100%; /* Limita el ancho máximo al 100% del contenedor padre */
    height: auto; /* Ajusta la altura automáticamente */
    margin: 0 auto; /* Centra el div horizontalmente si es necesario */
    margin-top: 50px;
    
  }
  
  .Title-CrearCuenta-Mercalista{
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  
  .header-mercalista-register{
    width: 100%;
    
  }

  /* Estilo para el nuevo header */
.header-banner {
  background-color: #413620; /* Marrón */
  color: white;
  text-align: center;
  padding: 20px 0;
}

.div-terminos-register{
  margin-bottom: '1rem';
  display: flex;
  margin :10px;
}



.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {

  .Logo-Mercalista{
    width: 15%;
    height: 15%;
  }

  .Title-CrearCuenta-Mercalista{
    font-size: 25px; /* Ajusta el tamaño del texto para pantallas pequeñas */
    margin: 20px;
  }

  .section-mercalista-register{
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
  }

  .aside-mercalista-register{
    width: 90%; /* Asegúrate de que el ancho esté definido */
    margin-top: 10%; /* Añade un margen superior para separar del header */
    
  }

  .form-register {
    width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
    padding:20px;
    max-height: 100vh;
  }

  input[type="text"],
  input[type="number"],
  input[type="ciudad"],
  input [type="password"]
   {
    width: 100%;
    padding: 2px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .Div-ImgVerduras{
    display: none;
  }

  .main-mercalista-register{
    display: flex;
    flex-direction: column;
  }
}



@media (min-width: 769px) and (max-width: 1440px) {
  
  .main-mercalista-register {
    flex-direction: row; /* Asegura que los elementos se alineen en fila */
  }

  .section-mercalista-register {
    width: 45%; /* Mantiene el ancho de la sección */
  }

  .Title-CrearCuenta-Mercalista{
    font-size: 30px;
  }

  .aside-mercalista-register {
    width: 55%; /* Mantén el ancho definido */
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    max-height: calc(100vh - 66px); /* Asegura que no exceda la altura disponible */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Añade un espacio interno para evitar que el formulario toque los bordes */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  
  }

  .form-register {
    background-color: #e2e2e2;
    padding: 40px; /* Espaciado interno */
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    width: 95%; /* Ajusta el ancho relativo al contenedor */
    max-width: 600px; /* Limita el ancho máximo */
    max-height: calc(100vh - 120px); /* Asegura que no exceda la altura disponible */
    overflow-y: auto; /* Habilita el scroll si el contenido es más grande */
    border: 1px solid #000000;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    margin: 0; /* Elimina márgenes externos */
  }

}


@media (min-width: 1440px) {
  .aside-mercalista-register {
    width: 55%; /* Mantén el ancho definido */
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: auto; /* Ajusta la altura automáticamente al contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Añade un espacio interno */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    overflow: visible; /* Permite que el contenido se expanda sin scroll */
  }

  .form-register {
    width: 90%; /* Ajusta el ancho relativo al contenedor */
    max-width: 800px; /* Limita el ancho máximo */
    height: auto; /* Ajusta la altura automáticamente */
    overflow: visible; /* Elimina el scroll */
    padding: 40px; /* Espaciado interno */
    margin: 0; /* Elimina márgenes externos */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  }

  .section-mercalista-register {
    width: 45%; /* Mantiene el ancho de la sección */
    
  }

  .ImgVerduras{
    width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    height: auto; /* Ajusta la altura automáticamente */
    max-width: 600px; /* Limita el ancho máximo de la imagen */
    margin: 20px auto; /* Centra la imagen horizontalmente */
  }

  .Title-CrearCuenta-Mercalista{
    font-size: 60px; /* Ajusta el tamaño del texto para pantallas grandes */
    margin: 20px;
  }
}

